@font-face {
  font-family: "Basteleur";
  src: url("../fonts/BasteleurMoonlight.woff");
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans.ttf");
}
@font-face {
  font-family: "ReemKufi";
  src: url("../fonts/ReemKufi.ttf");
}
