@import "../style/main.css";

.container {
  margin: auto;
  font-family: sans-serif;
  color: var(--beige);
  border: 7px solid var(--pink);
}

a {
  text-decoration: none;
  color: var(--beige);
  border-bottom: 2px dotted transparent;
  transition: 200ms;
}
  a:hover {
    border-bottom: 2px dotted var(--beige);
    transition: 200ms;
  }

.site-title {
  font-family: "ReemKufi", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 0.75em 0;
  background-color: var(--bluone);
}

.nav-links {
  list-style: none;
  text-align: center;
  padding: 0.25em 0 1.25em 0;
  background-color: var(--bluone);
  width: 100%;
  margin: auto;
}

.nav-link-item {
  padding: 0 1.5rem;
  display: inline-flex;
}

.nav-link-text {
  color: #fff;
  text-decoration: none;
}

.heading {
  font-size: 2em;
}

main {
  min-height: 85vh;
  max-width: 75ch;
  margin: 2em auto;
}

footer {
  text-align: center;
  padding: 2em;
  background-color: var(--bluone);
  color: var(--beige);
}
